<%- include('header') -%>


<div class="bodyMon">
	<page-head icon="th-list" title="All Monitorings" />
	<div class="card mb-4">
		<div class="card-body">
			<div class="input-group ">
				<!-- <input type="text"  class="search" onkeyup="myFunction()" name="input"  placeholder="Search for names.."
					title="Type in a name"> -->
				<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.."
					title="Type in a name">
			</div>
		</div>
	</div>

	<!-- Content -->
	<div class="container-fluid flex-grow-1 container-p-y">

		<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
			<div>All List</div>
			<form action="/monitoring/new" method="POST">
				<!-- <a href="/monitoring/new" class="btn btn-success" name="username">cat.mp4</a> -->
				
				<%if(files && files.length){%>
				<% files.forEach(file => {%>
				<input type="submit" class="btn btn-primary btn-block" name="username" value="<%= file.name%>">
				
				<%})%>
				<%}else{%>

				<%}%>
			</form>

		</h4>



		<div>
			<table name="table" id="myTable" class="table table-hover table-bordered result ">
				<thead>
					<tr class="header">
						<th>Name</th>
						<th>Label</th>


						<th>Label Category</th>
						<th>Confidence</th>
						<th>DANGER</th>
					</tr>
				</thead>
				<tbody>
					<%if(jsonArray=="null"){%>
				<tr>
					<td>****</td>
					<td>****</td>
					<td>****</td>
					<td>****</td>
					<td>****</td>

				</tr>
				<%}else{%>

				<%for(var i=0; i < Object.keys(jsonArray.labels).length; i++){%>
				<%if(jsonArray.labels[i].danger == "danger"){%>

				<tr class="danger">
					<td><%=videoName%></td>

					<td><%= jsonArray.labels[i].LabelName %></td>
					<td></td>

					<td><%= jsonArray.labels[i].confidence %></td>
					<td><%= jsonArray.labels[i].danger %></td>
				</tr>


				<%}else{%>

				<tr class="">
					<td><%=videoName%></td>

					<td><%= jsonArray.labels[i].LabelName %></td>
					<td></td>

					<td><%= jsonArray.labels[i].confidence %></td>
					<td id=""><%= jsonArray.labels[i].danger %></td>
				</tr>
				<%}%>



					
					<%}}%>

				</tbody>
				</table>

				<div class="embed-responsive embed-responsive-4by3">
					<iframe frameborder="0" class="embed-responsive-item"
						src="<%=videoName%>"></iframe>
				</div>


	</div>


</div>
<!-- / Content -->
</div>

</div>


<%- include('footer') -%>